* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to right, #e3f2fd, #f9f9f9);
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #0d47a1;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 30px;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.complaint {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.status {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
  display: inline-block;
}

.pending { background: #fff3cd; color: #856404; }
.resolved { background: #d4edda; color: #155724; }
.rejected { background: #f8d7da; color: #721c24; }

select {
  margin-top: 10px;
  padding: 6px;
  width: 100%;
}









.admin-btn-secondary {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}
.admin-btn-secondary:hover {
  background: #1b5e20;
}

